/* settings 화면이나 채팅방의 상단에있는 뒤로가기바와 검색바 */

.alt-header {
  padding: var(--horizontal-space);
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(140, 187, 121, 0.76);
}

.alt-header__column {
  width: 33%;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 20px;
}
